.wrapper {
    --main-color: #ED4C5C;
    position: relative;
    min-height: 1435px;
    width: auto;
    min-width: 1440px;
    object-fit: contain;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
}

header{
    position: absolute;
    width: auto;
    min-width: 1440px;
    min-height: 500px;
    left: 0;
    top: 0;
    background: var(--main-color);
}

.slider_photo{
    position: absolute;
    width: 533px;
    height: 311px;
    left: 691px;
    top: 94px;
}

.app_links{
    position: absolute;
    left: 163px;
    top: 367px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 134px;
    height: 32px;
}

.app-icons{
    width: 32px;
    height: 32px;
}

.windows{
    width: 24px;
    height: 24px;
}

h1{
    position: absolute;
    width: 445px;
    height: 107px;
    left: 165px;
    top: 122px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.text{
    position: absolute;
    width: 445px;
    height: 64px;
    left: 165px;
    top: 253px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
}

.content{
    width: 1440px;
    height: 500px;
    left: 0;
    top: 500px;
    background: #FFFFFF;
}

.left_text {
    /*display: inline-flex;*/
    position: absolute;
    width: 445px;
    height: 160px;
    left: 176px;
    top: 617px;
}

.contact{
    width: 444px;
    height: 107px;
    left: 176px;
    top: 617px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.sentence{
    /*position: absolute;*/
    width: 434px;
    height: 52px;
    left: 176px;
    top: 713px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    text-align: justify;
    color: #000000;
}

.right_field{
    /*display: inline-flex;*/
    position: absolute;
    width: 540px;
    height: 305px;
    left: 735px;
    top: 617px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 305px;
    gap: 8%;
}

.first-row{
    display: flex;
    gap: 30px;
}

.first-row,
.second-row,
.third-row{
    display: flex;
}

.button{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: var(--main-color);
    outline: none;
    cursor: pointer;
}

.cloud_item{
    flex-grow: 1;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #333333;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
    padding-right: 23px;
    align-items: center;
    outline: none;
}

select{
    background: url(../assets/arrow.png)
    no-repeat right
    rgb(255, 255, 255);
    background-size: 14px auto;
    -webkit-appearance: none;
    background-position-x: 500px;
}


footer{
    margin-top: auto;
    /*position: absolute;*/
    min-width: 1440px;
    min-height: 435px;
    left: 0;
    top: 1045px;
}

.flex-container{
    height: 100%;
    padding-left: 161px;
    padding-right: 196px;
    /*padding-top: 85px;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.box-1{
    margin-top: 85px;
    margin-right: 30px;
}
.box-2{
    margin-top: 85px;
    margin-right: 30px;
    row-gap: 28px;
}
.box-3 {
    margin-top: 85px;
    margin-right: 166px;
    row-gap: 33px;
}

.box-4{
    margin-top: 85px;
}

.box_1{
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    width: 259px;
    height: 250px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    padding-left: 5px;
}


.box_2{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    width: 254px;
    height: 164px;
    left: 450px;
    top: 1180px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
}

.box_3{
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    width: 122px;
    height: 128px;
    /*left: 734px;*/
    /*top: 1185px;*/
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}

.box_4{
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

.list{
    list-style: none;
    cursor: pointer;
}


.secure_payments{
    /*position: absolute;*/
    width: 216px;
    height: 31px;
    /*left: 1028px;*/
    /*top: 1185px;*/
}

.details{
    /*position: absolute;*/
    /*width: 155px;*/
    /*height: 14px;*/
    /*left: 161px;*/
    /*top: 1380px;*/
    margin-top: auto;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}

h3[class=box_item]{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}

p[class=box_item]:first-child{
    padding-bottom: 11px
}

.social_net{
    padding-top: 20px;
    width: 66px;
    height: 14px;
    cursor: pointer;
}